
h1 {
    text-align: center;
    font-size: 8vh;
}

.tile {
    height: 8vh;
    width: 8vh;
    border: 1px solid grey;
    margin: 1px;

    text-transform: uppercase;
    text-align: center;
    font-size: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

#submit {
    display: flex;
    margin-top: 3vh;
    justify-content: center;
}

#submit-guess {
    width: 30vw;
    height: 5vh;
    margin-bottom: 10vh;
}

.currentattempt > .tile {
    border: 1px solid rgb(210, 140, 11);
}

input:focus {
    outline: rgb(215, 5, 131);
  }