
body {
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 10vh;
    font-family: 'Space Mono', monospace;
    color: white;
}

h1 > span {
    font-size: 3vh;
}

.tile {
    background-color: rgba(0, 0, 0, 0.908);
    height: 8vh;
    width: 8vh;
    border: 1px solid grey;
    margin: 1px;
    
    color: white;
    text-transform: lowercase;
    text-align: center;
    font-size: 4vh;
    font-family: 'Space Mono', monospace;
    border-radius: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

#submit {
    display: flex;
    margin-top: 3vh;
    justify-content: center;
}

#submit-guess {
    width: 30vw;
    height: 5vh;
    margin-bottom: 10vh;

    border-radius: 10px;
    background-color: #B537F2;
    font-family: 'Space Mono', monospace;
    border: solid #B537F2;
    color: black;
}

.currentattempt > .tile {
    border: 1px solid #B537F2;
}

input:focus {
    outline: none;
  }

input:disabled {
    background-color: black;
    border: 1px solid black;
}

#hello {
    background-color: red;
    height: 100px;
    width: 100px;
}
